.hero-banner {
  background-image: url('../assets/hero-image.jpg');
  background-size: cover;
  background-position: top center;
  height: 80vh;
  position: relative;
  padding-top: 80px; /* 👈 compensate for navbar height */
  overflow: hidden;
}


.hero-banner .overlay {
  position: absolute;
  inset: 0;
 
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.7) 0%,
    rgba(20, 20, 20, 0.5) 40%,
    rgba(20, 20, 20, 0.3) 70%,
    rgba(20, 20, 20, 0.7) 100%
  );
  z-index: 1;
}

.hero-banner .container {
  z-index: 2;
}

